body {
    -webkit-animation: colorchange 100s infinite;
    animation: colorchange 100s infinite;
  }
  @-webkit-keyframes colorchange {
    0% {
      background: url('image/dna23.jpeg');
    }
    5% {
      background: url('image/dna2.jpeg');
    }
    10% {
      background: url('image/dna3.jpeg');
    }
    15% {
      background: url('image/dna4.jpeg');
    }
    20% {
      background: url('image/dna5.jpeg');
    }
    25% {
      background: url('image/dna6.jpeg');
    }
    30% {
      background: url('image/dna7.jpeg');
    }
    35% {
      background: url('image/dna8.jpeg');
    }
    40% {
      background: url('image/dna22.jpeg');
    }
    45% {
      background: url('image/dna10.jpeg');
    }
    50% {
      background: url('image/dna11.jpeg');
    }
    55% {
      background: url('image/dna26.jpeg');
    }
    60% {
      background: url('image/dna27.jpeg');
    }
    65% {
      background: url('image/dna14.jpeg');
    }
    70% {
      background: url('image/dna15.jpeg');
    }
    75% {
      background: url('image/dna16.jpeg');
    }
    80% {
      background: url('image/dna17.jpeg');
    }
    85% {
      background: url('image/dna18.jpeg');
    }
    90% {
      background: url('image/dna19.jpeg');
    }
    95% {
      background: url('image/dna20.jpeg');
    }
    100% {
      background: url('image/dna21.jpeg');
    }
  }
  @keyframes colorchange {
    0% {
      background: url('image/dna23.jpeg');
    }
    5% {
      background: url('image/dna2.jpeg');
    }
    10% {
      background: url('image/dna3.jpeg');
    }
    15% {
      background: url('image/dna4.jpeg');
    }
    20% {
      background: url('image/dna5.jpeg');
    }
    25% {
      background: url('image/dna6.jpeg');
    }
    30% {
      background: url('image/dna7.jpeg');
    }
    35% {
      background: url('image/dna8.jpeg');
    }
    40% {
      background: url('image/dna22.jpeg');
    }
    45% {
      background: url('image/dna10.jpeg');
    }
    50% {
      background: url('image/dna11.jpeg');
    }
    55% {
      background: url('image/dna26.jpeg');
    }
    60% {
      background: url('image/dna27.jpeg');
    }
    65% {
      background: url('image/dna14.jpeg');
    }
    70% {
      background: url('image/dna15.jpeg');
    }
    75% {
      background: url('image/dna16.jpeg');
    }
    80% {
      background: url('image/dna17.jpeg');
    }
    85% {
      background: url('image/dna18.jpeg');
    }
    90% {
      background: url('image/dna19.jpeg');
    }
    95% {
      background: url('image/dna20.jpeg');
    }
    100% {
      background: url('image/dna21.jpeg');
    }
  }
      header {
        background-color: #20252e;
        padding-top:05px;         
        color: #f6fafa;
        text-align: center;
      }
      header h1 {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
        text-shadow: 2px 2px #92f7ed;
        letter-spacing: 5px;
        align-items:center; 
        font-style: italic;
        font-family: 'Courier New', Courier, monospace;
      }
      header img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
        filter: drop-shadow(2px 2px #92f7ed);
      }
      header img:hover {
        transform: rotate(360deg);
      }
      main {
        display:flex; 
        flex-wrap:wrap; 
        justify-content:center; 
        align-items:center; 
        padding-top:20px; 
        padding-bottom:00px; 
        margin: 5px auto;
        width: auto;
        background: transparent;
        
      }
      main div {
        flex-basis:calc(50% - 20px); 
        margin-right:20px; 
        margin-bottom:20px; 
        background-color:#d1ecf3; 
        box-shadow:0px 0px 5px rgba(0,0,0,0.1); 
        border-radius:5px; 
        padding:20px; 
        /* background-image: url('image/dna.jpeg');*/
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;   
        text-align: justify; 
      }

      main div:last-child {
        margin-right:0; 
      }
      main div h2 {
        font-size:40px; 
        font-weight:bold; 
        margin-top:-5px; 
        margin-bottom:-5px; 
        text-align:center; 
        color:#053f63; 
      }
      main div p img{
        width:auto;  
        height:auto;  
        max-width:80%;  
        max-height:auto;  
        display:block;  
        margin:auto;  
        float:right;
        margin-left:10px;
      }
      #sidebar_container { 
        float: right;
        width: 224px;
        margin: 25px 0 0 0;
        }
  #main {
    margin: 5px auto;
    width: 940px;
    background: transparent;
    padding-bottom: 30px;
  }

  header { 
    height: 130px;
  }

  /* Image Transitions */
  ul#images {
    margin: 0 15px 10px 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  ul#images li {
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 155px;
    height: 150px;
  }

  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  hr.solid {
    border-top: 3px solid #bbb;
  }

  .sidenav {
    height: 100%;
    width: 235px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
    padding-top: 28px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }


  .vericaltext{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 36px;
        font-weight: bold;
        text-shadow: 2px 2px #ff6600;
        align-items:center; 
        font-style: italic;
        font-family: 'Courier New', Courier, monospace;
      
   }
   * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 48%;
    background-image: url('image/dna27.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;    
    padding: 00px;
    font-size: 18px;
    text-align: center;
    height: 60px; /* Should be removed. Only for demonstration */
    
    
  }

  .columnpublications {
    float: left;
    width: 47%;
    background-image: url('image/dna24.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;    
    padding: 20px;
    height: 100px; /* Should be removed. Only for demonstration */
    
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .columnhome {
    float: left;
    width: 48%;
    color:#7d1a1a;
    background-image: rgb(53, 82, 92);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;    
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    height: 350px; /* Should be removed. Only for demonstration */
    
    
  }

   img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

.columncontact {
    float: left;
    width: auto;
    font-size: 17px;
    background-image: url('image/dna1.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;  
    box-shadow: 5px 5px 2px lightblue;
    padding: 20px;
    height: 200px; /* Should be removed. Only for demonstration */
    
    
  }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  font-size: 17px;
  color:#f1f1f1;
}