:root {
--white: #fff;
--font: #212529;
--accent-dark: #26254f;
--links:  #4a4986;
--accent: #26254f;
--mid: rgba(0,0,0,.125);
--light: #f0f0f0;
--accent2: #da5a35;
--accent3: #ff6c41;
}
/* Element selectors */
html, body {
    min-width: 320px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--font);
    background-color: var(--light);
}

.navbar {
    background-color: #f8f9fa!important;
    background-image: url(../images/abstract-colorful-lines.jpeg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: 2px 1px 3px #666
}

body {
    padding: 3%;
}

header, nav ul, .article-content {
    display: flex;
}

header {
    padding-bottom: 2%;
}

header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

nav {
    flex: 1 0 0;
    font-weight: 300;
}

nav ul {
    justify-content: flex-end;
}

h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2.3rem;
    color: var(--light);
    font-weight: 700;
}

h2 {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2rem;
    padding: .5% 1.5%;
    color: var(--accent2);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 0;
    line-height: 1.4;
}

h3 {
    color: var(--accent);
    font-size: 1.2rem;
}

header a {
   text-decoration: none;
}

a, a:hover, a:active, a:focus, a:visited {
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
    
}

a:hover, a:active, a:focus {
    color: var(--accent-dark);
    transition: all 0.3s ease-in;
}

nav {
    flex-shrink: 0;
}

nav li {
    padding: 1% 2%;
    justify-self: center;
    font-size: 1.1rem;
}

nav li:last-child {
    padding-right: 0;
}

footer {
    color: var(--font);
    font-size: .9rem;
    margin-top: 2%;
    margin-bottom: 2px;
    font-weight: 300;
}

main .decorative-border:last-child {
    margin-top: 30px;
}

p {
    line-height: 1.6;
}

article a.arrow-link {
    display: block;
    padding-top: 5%;
}

article a.arrow-link::after{
    content: " >";
    vertical-align: text-top;
    line-height: 1.2;
}

a.img{
    flex: 1 0 50%;
    border: 1px solid var(--mid);
    box-shadow: 0 0.25rem 0.75rem #ccc;
}

.articles article:first-child a.img{
    flex: 1 0 30%;
}

article, article-img{
    background-color: var(--white);
    border: 1px solid var(--mid);
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
    padding: 1rem;
}

article img {
    width: 100%;
    cursor: pointer;
}

footer {
    text-align: right;
}
/* Class selectors */
.articles h3::after{
    display: block;
    margin: 10px 0 0 0;
}

.light {
    color: var(--light);
}

.about-content img {
    margin: 0 0 30px 30px;
    width: 30%;
    height: 50%;
    border: 1px solid var(--mid);
    border-radius: calc(.25rem - 1px);
    box-shadow: 0 0.25rem 0.75rem #ccc;
}

.article-content {
    justify-content: space-between;
    align-items: flex-start;
}

section {
    padding: 2% 0;
}

.article-content p {
    padding: 1% 20px 1% 0;
}

.articles, .contacts, .contacts div {
    display: flex;
    flex-wrap: wrap;
}

.articles article:first-child {
    flex: 1 0 100%;
    margin-bottom: 20px;
}

.articles article:nth-child(n+2) {
    flex: 1 0 calc(50% - 20px);
}

.articles article:nth-child(3){
    margin-left: 20px;
}

.contacts {
    justify-content: space-evenly;
}

.contacts a.button {
    flex: 1 0 calc(25% - 20px);
    font-size: 1.1rem;
    font-weight: 300;
    padding: 7px;
    color: var(--white);  
    background-color: var(--accent3);  
    border: 1px solid #ff6c41;
    border-radius: calc(.25rem - 1px);
    text-decoration: none;
    text-align: center;
}

.contacts a.button:hover {
    background-color: var(--accent2);
    color: var(--white);
    transition: all 0.3s ease-in-out;   
    text-decoration: none;
}

a.button, a.button span, a.button svg, a.button {
    cursor: pointer;
}

.contacts a.button {
    margin-right: 20px;
}

.contacts a.button:last-child {
    margin-right: 0;
}

.contacts a.button span, .contacts a.button svg{
    vertical-align: middle;
    display: inline-block;
    padding-right: 2px;
    cursor: pointer;
}

.clear-left {
    clear: left;
}
/* Media queries */
@media screen and (max-width: 768px) {
    .navbar {
        background-size: cover;
    }

    h1{
        font-size: 1.7rem;
    }

    header, nav ul, .contacts {
        flex-direction: column;
    }

    nav li {
        text-align: center;
        margin-top: 5px;
    }

    footer,  footer p{
        text-align: center;
    }

    section {
        padding: 3% 0;
    }

    article:nth-child(2) img {
        margin-right: 0;
    }

    #section-about{
        margin-top: 50px;
    }

    .articles article:first-child{
        padding-bottom: 0;
    }

    .about-content, .article-content {
        flex-direction: column;
    }

    .about-content p, .article-content p {
        order: 2;
        padding: 1% 0;
    }

    .about-content img, .article-content img {
        width: 100%;
        order: 1;
        margin: 15px 0;
    }

    .articles article:nth-child(n+2) {
        flex: 1 0 100%;
        margin-top: 20px;
        padding-top: 20px;
    }

    .articles article:nth-child(2) {
        padding-right: 0;
    }

    .articles article:nth-child(3){
        margin-left: 0;
    }

    .contacts div {
        flex: 1 0 calc(100% - 20px);
    }

    .contacts a.button {
        margin-bottom: 2%;
        margin-right: 0;
    }
}